html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  text-align: center;
  font-size: 10px;
  /* vertical-align: ; */
}

*,
.btn,
h1,
h2,
h3,
h4 {
  font-weight: 400;
  line-height: normal;
  color: #343030;
  font-size: 2.6rem;
}
p {
  font-size: 2rem;
}

/* Header */

/* .navbar{
    display: flex;
    flex-wrap: nowrap;
} */

.btn {
  background: #d3db50;
  padding: 13px 80px;
}

/* section_1 */
.first_div {
  display: inline-flex;
  padding: 115px 57px;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 55px;
}

.first_div_1 {
  font-size: 3rem;
}

.first_div_3signup {
  padding: 10px 60px;
  width: 275px;
  background-color: #162a51;
}

/* section-2 */
.section_2 {
  display: inline-flex;
  padding: 35px 194px;
  gap: 10px;
  background: #162a51;
}

/* section-3 */

.section_3 {
  padding: 26px 59px;
  justify-content: center;
  gap: 61px 58px;
  flex-wrap: wrap;
  border: 1px solid #3a383b;
}

.section_3 > h3 {
  font-weight: 500;
}

.adoption h3 {
  color: #162a51;
}

/* section-4 */

.section_4 {
  padding: 27px 21px;
}

.section_4 h3 {
  font-weight: 500;
  margin-bottom: 45px;
}

.connection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.motive {
  border-radius: 84px;
  border: 1px solid #343030;
  background: #162a51;
  display: flex;
  width: 111px;
  height: 111px;
  padding: 18px;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  margin-top: 25px;
}

.img_text {
  display: flex;
}
.head_text {
  word-wrap: break-word;
}
.connection h4 {
  text-align: left;
}

.connection p {
  max-width: 250px;
  text-align: left;
  margin-bottom: 48px;
}

/* section-5 */

.section_5 {
  margin: 47px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 12;
}
.all{
    position: absolute;
    padding: 87px 250px;
}
.section_5 > img{
    position: relative;
}
.section_5 h2 {
  font-size: 3.2rem;
  font-weight: 700;
  /* display: inline-block; */
}

.section_5 input {
  display: inline-block;
  width: 558px;
  height: 56px;
  padding: 10px;
}

.section_5 button {
  color: #fff;
  padding: 9px 60px;
  background-color: #162a51;
  margin: 15px;
}

/* Footer */
.footer_img > img{
    position: relative;
    width: 100%;
}
.footer {
  padding: 15px;
  position: absolute;
  /* height: 450px; */

}
.footer_section_left {
  /* width: 50%; */
  text-align: left;
  padding: 20px 250px 10px 35px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
}
.footer_section_left h1 {
  font-weight: 600;
}
.footer_section_left p {
}
.contact p {
  font-weight: 100;
}

.footer_section_right {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 370px; */
  gap: 15px;
  /* position: absolute; */
}
.footer_section_right h4 {
  font-weight: 100;
  margin-bottom: 15px;
}

.footer_section_right .input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 385px;
  height: 45px;
  gap: 2px;
}

.footer_section_right button {
  background: #162a51;

  width: 185px;
  height: 40px;
  font-size: 2rem;
  margin-left: 100px;
}
